@model JobDetailsModel



<img src="@Model.Picture" style="width:400px; height:300px; margin-left:350px" alt="Job Picture">

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1>@Model.Name</h1>

        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt></dt>
                <dd>

                </dd>
                <dt>
                    <label asp-for="Description"></label>
                </dt>
                <dd>
                    <textarea rows="8" cols="50" readonly style="border-style:double; resize:none">@Html.DisplayFor(model => model.Description)</textarea>
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Tags)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Tags)
                </dd>
            </dl>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form asp-action="Details" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            @if (Model.Cvs.Count() != 0)
            {
                <div>
                    <h2 class="text-center">Choose your CV and apply for the job</h2>
                    <hr />

                    <div class="form-group">

                        <dl class="dl-horizontal">
                            @foreach (var cv in Model.Cvs)
                            {
                                <dd>
                                    <div>
                                        @Html.RadioButtonFor(m => m.AppliedCvId, cv.Id)
                                        <img src="@cv.Picture" class="smallCvPicture" alt="Job Picture">
                                        <div style="padding-left:35px">
                                            @cv.Title
                                        </div>
                                    </div>
                                </dd>

                            }
                        </dl>
                    </div>
                    <div class="form-group">
                        <dl class="dl-horizontal">
                            <dd>
                                <label asp-for="MotivationalLetter"></label>
                                <textarea asp-for="MotivationalLetter" rows="10" class="form-control" placeholder="Write your motivational letter"></textarea>
                                <span asp-validation-for="MotivationalLetter" class="text-danger"></span>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div style="text-align:center">
                    <button type="submit" class="btn btn-success">Apply</button>
                </div>

            }
            else
            {
                <div class="text-center">
                    <p>You do not have any registered CVs, with which you can apply for this job.</p>

                    @{ 
                        var createButton = Html.GetViewDataLink<CvsController>(nameof(CvsController.Create));
                     }

                    @Html.ViewDataLink("Create CV", createButton, new { @class = "btn btn-primary htmlbutton" })
                </div>
            }
        </form>

    </div>
</div>