@model JobDetailsModel

@await Html.PartialAsync("_JobMain")

@if (Model.Cvs.Count != 0)
{
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <table class="table pull-left text-center">
                <tbody>
                    @foreach (var cv in Model.Cvs)
                    {
                        <tr>
                            <td>
                                <img src="@cv.Picture" align="left" class="smallCvPicture" Xalt="Job Photo">
                                <div class="text-left" style="margin-left:150px">
                                    <div>@cv.Name</div>
                                    <div>@cv.Email</div>
                                    <div>@cv.Address</div>
                                    @{ var viewButton = Html.GetViewDataLink<JobsController>(nameof(JobsController.ViewCv), new { id = Model.Id, cvId = cv.Id }); }
                                    @Html.ViewDataLink("View", viewButton, new { @class = "btn btn-success" })
                                </div>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <h4>There are currently no submitted applications for this job</h4>
}

